<div>
  <table class="table">
    <thead class="table-dark">
      <tr class="app-table-header">
        <th scope="col">#</th>
        <th scope="col">Nombre común</th>
        <th scope="col">Tipo</th>
        <th scope="col">Clima</th>
      </tr>
    </thead>
    <tbody>
      <tr class="app-table-td" *ngFor="let planta of plantas">
        <td scope="row">{{ planta.id }}</td>
        <td>{{ planta.nombre_comun }}</td>
        <td>{{ planta.tipo }}</td>
        <td>{{ planta.clima }}</td>
      </tr>
    </tbody>
  </table>

  <div>
    <div>Total plantas de interior: {{ numPlantasInterior}}</div>
    <div>Total plantas de exterior: {{ numPlantasExterior}}</div>
  </div>
</div>