* [lang^=en] {
  color: green;
}

img {
  margin-bottom: 1rem;
}

footer{
  font-size: .9rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

div.app-header {
  margin-top: 1rem;
  font-family: serif;
}